App_WebReferences/localhost/MovieList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowMovies">
        <s:complexType />
      </s:element>
      <s:element name="ShowMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowMoviesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:ShowMovies" />
  </wsdl:message>
  <wsdl:message name="ShowMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:ShowMoviesResponse" />
  </wsdl:message>
  <wsdl:portType name="MovieListSoap">
    <wsdl:operation name="ShowMovies">
      <wsdl:input message="tns:ShowMoviesSoapIn" />
      <wsdl:output message="tns:ShowMoviesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieListSoap" type="tns:MovieListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowMovies">
      <soap:operation soapAction="http://tempuri.org/ShowMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MovieListSoap12" type="tns:MovieListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowMovies">
      <soap12:operation soapAction="http://tempuri.org/ShowMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieList">
    <wsdl:port name="MovieListSoap" binding="tns:MovieListSoap">
      <soap:address location="http://localhost:63673/MovieList.asmx" />
    </wsdl:port>
    <wsdl:port name="MovieListSoap12" binding="tns:MovieListSoap12">
      <soap12:address location="http://localhost:63673/MovieList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>